# Dependency directories
node_modules/

# Environment variables file
.env

# IDE or editor files
.vscode/
.idea/
*.sublime-*

# Logs
logs
*.log
npm-debug.log*

# Dependency lock files
package-lock.json
yarn.lock

# Ignore build artifacts
/build
/dist
/out
